@media (max-width: 991px) {
  #links {
    color: #ffffff;
    margin-left: 0vh;
    margin-right: 0;
    margin-bottom: 3vh;
  }
}


/* Certifique-se de usar media queries para telas menores */
@media screen and (max-width: 768px) {
  #link {
    font-size: 14px;  /* Tamanho da fonte menor */
    word-wrap: break-word;  /* Quebra de palavras longas */
    white-space: normal;  /* Permite que o texto se ajuste à linha */
  }

  .secao3 {
    padding: 10px;  /* Espaçamento reduzido */
  }

  #link a {
    display: inline-block;  /* Evita que o link estenda a largura da tela */
    word-wrap: break-word;  /* Quebra de palavras */
  }
}
